/* ContactMe.css */
.contact_field {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.Contac_Icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  animation: rotateIcons 10s infinite linear;
  perspective: 1000px; /* Adds a 3D perspective */
}

.github-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
  animation: floatIcons 5s ease-in-out infinite alternate;
}

.github-icon:hover {
  transform: rotate(360deg) scale(1.2); /* Scale up and rotate on hover */
}

/* 3D Rotation Animation */
@keyframes rotateIcons {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Floating and Scrolling Animation */
@keyframes floatIcons {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.1); /* Slight upward movement */
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

/* Responsive design for small screens */
@media (max-width: 768px) {
  .github-icon {
    flex-direction: column;
  }
}
