.Navmenu_fld {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav_click_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 19px;
}

.item_list {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-top: 6px;
}

.items {
  list-style: none;
  font-size: 19px;
  font-family: math;
  color: white;
  font-weight: 500;
}

.items a {
  text-decoration: none;
  color: inherit;
}

.items a:hover {
  cursor: pointer;
  color: black;
}

.items a:active {
  color: gray;
}

.logo_img {
  width: 73px;
  height: 51px;
}

.icons_fld {
  display: flex;
  gap: 2px;
  margin-top: 3px;
  margin-right: 24px;
}

.links {
  width: 30px;
  height: 33px;
  margin-left: 10px;
}

.nav_btn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 17px;
  transition: transform 0.3s ease-in-out
}

.nav_btn:hover {
  color: black; 
  cursor: pointer;
  transform: scale(1.1);
}
