.Navmenu_fld {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav_click_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 19px;
  transition: all 0.3s ease;
}

.item_list {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-top: 6px;
}

.items {
  list-style: none;
  font-size: 19px;
  font-family: math;
  color: white;
  font-weight: 500;
}

.items a {
  text-decoration: none;
  color: inherit;
}

.items a:hover {
  cursor: pointer;
  color: rgb(17, 66, 31);
}

.items a:active {
  color: gray;
}

.logo_img {
  width: 73px;
  height: 51px;
}

.icons_fld {
  display: flex;
  gap: 13px;
  padding-right: 21px;
  margin-top: 8px;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.icon-blink {
  animation: blink 0.5s infinite;
}

.links {
  width: 30px;
  height: 33px;
  margin-left: 10px;
}

.linkedin {
  width: 37px;
  height: 33px;
  margin-left: 10px;
}

.nav_btn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 17px;
  transition: transform 0.3s ease-in-out;
}

.nav_btn:hover {
  color: rgb(155, 199, 244);
  cursor: pointer;
  transform: scale(1.1);
}

/* Hamburger Menu Styling */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 4px;
  background-color: white;
}

@media (max-width: 768px) {
  .nav_click_items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 0; 
    overflow: hidden; 
    transform: translateY(-100%); 
    transition: height 0.3s ease, transform 0.3s ease;
  }

  .nav_click_items.open {
    height: 200px;
    transform: translateY(0); 
  }

  .item_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .hamburger {
    display: flex;
  }

  .icons_fld {
    display: none;
  }
}
