
.projects-container {
  padding: 2rem;
  max-width:  1390px;
  text-align: center;
  background: linear-gradient(to right, rgb(134 136 146), rgb(8 30 28));
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #ecf0f1;
  margin-top: 40px;
}

.projects-container h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: transparent; 
  background: linear-gradient(to right, rgb(4, 241, 158), rgb(190, 231, 7));
  -webkit-background-clip: text; 
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 
}


.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
  transition: transform 0.3s ease-in-out;
}

.skills_field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 13px;
}

.skils {
  background: linear-gradient(to right, #3f415e, #8289e7);
  padding: 5px;
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .projects-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .projects-list {
    grid-template-columns: 1fr;
  }
}

/* Project card styles */
.project-card {
  background: linear-gradient(to right, rgb(27 30 48), rgb(16 62 58));
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.project-card h3 {
  font-size: 18px;
  margin-bottom: 0.5rem;
  background: linear-gradient(to right, rgb(141 2 2), rgb(210 255 0));
  -webkit-background-clip: text;
  font-weight: 500;
}

.project-card p {
  font-size: 1rem;
  color: #bdc3c7;
  line-height: 1.5;
  transition: color 0.3s ease;
}

/* Image inside the project card */
.project_img_fld {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

/* Hover effects for project cards */
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.project-card:hover .project_img_fld {
  transform: scale(1.05);
}

.project-card:hover p {
  color: #ecf0f1;
}

/* Show more button styles */
.show-more-btn {
  padding: 12px 25px;
  background: linear-gradient(to right, #515050, #0e0e0e ); 
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.show-more-btn:hover {
  background: linear-gradient(to right, #162261, #380c2f ); 
  transform: translateY(-5px);
}

/* Responsive design for show more button */
@media (max-width: 768px) {
  .show-more-btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

.view-more-btn {
  padding: 12px 25px;
  background: linear-gradient(to right, #515050, #0e0e0e ); 
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

.view-more-btn:hover {
  background: linear-gradient(to right, #162261, #380c2f ); 
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .view-more-btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
}